/*Common style for all the squares*/
body {
    margin: 200px auto;
    width: max-content;
  }

div {
    display: inline-block; /* Ensures all divs appear in a single row */
    font-family: sans-serif;
    font-size: 20px;
    margin: 20px;
    text-align: center;
    line-height: 100px;
}

/* Div A: square with Purple stroke and red shadow */
.divA {
    width: 200px;
    height: 200px;
    border: 4px solid purple;
    box-shadow: 5px 5px 10px red; /* Red shadow around the div */
}

/* Div B: square with lime stroke with shadow on the inner left and top*/
.divB {
    width: 200px;
    height: 200px;
    border: 4px solid lime;
    box-shadow: inset 5px 5px 10px black; /* Black shadow on inside left and top */
}
 
/* Div C: square with 4 layers (orange, blue, red, green) */
.divc {
    width: 200px; 
    height: 200px; 
    border: 10px solid rgb(255, 166, 0); /* Outside border color */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 
      0 0 0 10px rgb(0, 81, 255), /* 1st border on inside*/
      0 0 0 20px rgb(255, 0, 0), /* 2nd border on inside*/
      0 0 0 30px rgb(0, 128, 11); /* 3rd border on inside*/
  }
  
/* Div D: square with Maroon stroke and a text shadow */
.divD {
    width: 200px;
    height: 200px;
    border: 4px solid maroon; 
    color: rgb(0, 0, 0); 
    font-size: 24px; 
    line-height: 100px; 
    text-align: center; 
    
    /* Creates a popping out effect for the text */
    text-shadow: 
        4px 4px 0px #000000, 
        5px 5px 2px rgba(0,0,0,0.5); 
}
